@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --cosmic-purple: 168 85 247;
    --cosmic-blue: 59 130 246;
    --cosmic-gold: 245 158 11;
    
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

